@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to replace word</h1>
</div>
<hr />
<br />
<h6>Please Take .Txt File </h6>
<div>
    <form asp-controller="Home" asp-action="GetInfo" method="post" enctype="multipart/form-data">
        <label>Word : </label>
        <input type="text" id="word" name="word" placeholder="word" /> <br />

        <label>Replace Word : </label>
        <input type="text" id="replaceword" name="replaceword" placeholder="replace word" /> <br />

        <label>File location : </label>
        <input type="file" id="location" name="location" placeholder="location" /> <br />


        <input type="submit" value="Change" />
        @*<input type="button" title="Delete" value="D" onclick="location.href='@Url.Action("Home", "GetInfo", new { word1 = "word", replaceword1="replaceword", location1="location" })'" />*@
    </form>
</div>





